<div>
    <h5> Mi Carrito </h5>
    <hr/>

    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                        <tr>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                        <th>Importe</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of carrito">
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>${{ item.price }}</td>
                                <td>{{ item.cantidad }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                    <button class="btn btn-sm btn-success" (click)="incrementar(item)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    &nbsp;
                                    <button class="btn btn-sm btn-danger" (click)="eliminar(item)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    &nbsp;
                                    <button class="btn btn-sm btn-warning" (click)="decrementar(item)">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    </div>
                                </td>
                                <td>${{ (item.price * item.cantidad) | number:'1.2-2' }}</td>
                                </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                    <div class="col-md-6 mx-auto text-center">
                        <h5>Resumen Compra</h5>
                        <hr />
                        <h5>Total: ${{ getTotal() | number:'1.2-2' }}</h5>
                        <button class="btn btn-dark">Procesar compra</button>
                        <button class="btn btn-danger mt-3" (click)="vaciarCarrito()">Vaciar Carrito</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>