<div>
    <h5> Mi Carrito </h5>
    <hr/>

    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center">
                            <thead>
                                <th>Producto</th>
                                <th>Imagen</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h5>Resumen Compra</h5>
                        <hr     />

                        <div class="d-flex justify-content-between mb-4">
                            <p class="mb-2">Total</p>
                            <p class="mb-2">USD/0</p>
                        </div>

                        <button type="button" class="btn btn-dark btn-block btn-lg">
                            <div class="d-flex justify-content-between">
                                <span>PROCESAR COMPRA</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>