<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Coffe & Click</title>
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div
        class="bg-light border-end"
        id="sidebar-wrapper"
        style="min-width: 250px"
      >
        <div class="sidebar-heading p-3">
          <div class="user-panel d-flex align-items-center">
            <div class="image me-2">
              <img
                width="60"
                alt="ACME Logo"
                class="rounded-circle"
                src="assets/logo.png"
              />
            </div>
            <div>
              <p class="mb-0 fw-bold">Coffe & Click</p>
            </div>
          </div>
        </div>

        <!-- Menu -->
        <div class="list-group list-group-flush">
          <a
            [routerLink]="['welcome']"
            class="list-group-item list-group-item-action bg-light"
          >
            <i class="fas fa-home me-2"></i> Home
          </a>

        <a class="list-group-item list-group-item-action bg-light" data-bs-toggle="collapse" href="#productos" role="button">
          <i class="fa fa-th-large me-2"></i> Productos
        </a>
        <div class="collapse ps-3" id="productos">
          <app-category-sidebar (categorySelected)="onCategorySelected($event)"></app-category-sidebar>
        </div>

          <a
            [routerLink]="['carrito/carrito-listar']"
            class="list-group-item list-group-item-action bg-light"
            role="button"
          >
            <i class="fas fa-shopping-cart me-2"></i> Ver Carrito
          </a>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="flex-grow-1">
      

      <div class="container-fluid mt-3">
        
        
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
</body>
</html>
