<div class="list-group">
    
  <button 
    class="list-group-item list-group-item-action"
    [routerLink]="['product/product-list']" 
    [ngClass]="{ 'active': selectedCategoryId === null }"
    (click)="onSelectCategory(null)">
    Todas las categorías
  </button>

  <button 
    *ngFor="let category of categories" 
    class="list-group-item list-group-item-action"
    [routerLink]="['product/product-list']"
    [ngClass]="{ 'active': selectedCategoryId === category.id }"
    (click)="onSelectCategory(category.id)">
    {{ category.name }}
  </button>
</div>
